<!DOCTYPE html>
<html>

<head>
  <title>Manufacturer</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </script>
  <script>
    $(document).ready(function () {


      $('.modal').modal();
      $('.modal').closeModal();
    });

  </script>

  <style>
    * {
      font-family: "courier new"
    }

    .parallax-container {

      height: "100%";
    }

    input {
      font-size: 20px;
    }

    label {
      font-size: 20px;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
  </style>

  <script>

    $(document).ready(function () {
      $('.parallax').parallax();
    });
    $(document).ready(function () {
      $('.modal-trigger').leanModal();
      $('select').material_select();
    });
    $(document).ready(function () {
      $('select').formSelect();
    });



  </script>
  <style>
    .modal {
      max-height: 100%;
      overflow: visible
    }
  </style>
</head>

<body>


  <div class="center-align">
    <h4 class="!"><b>Manufacturer's Homepage</b></h4>

  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="https://funkyimg.com/i/2SHP8.png"></div>

    <div class="row">
      <br />
      <br />
      <div class="center-align col s4">

        <a class="blue-text text-darken-2 white waves-effect waves-light btn" href="#id01"><i
            class="material-icons left">send</i>Send to Distributors</a><br /><br />
        <a class="blue-text text-darken-2 white waves-effect waves-light btn" href="#id03"><i
            class="material-icons left">send</i>Add Medicines</a><br /><br />
        <a class="blue-text text-darken-2 white waves-effect waves-light btn" href="#id04"><i
            class="material-icons left">list</i>List Medicines</a><br /><br />
        <a class="blue-text text-darken-2 white waves-effect waves-light btn" href="#id05"><i
          class="material-icons left">list</i>Tracking medicines</a><br /><br />
      </div>
    </div>

    <a class="modal-trigger" href="#id03"></a>
    <div id="id03" class="modal" style="width:50%;height:60%">

      <div class="container">
        <br />

        <form action="http://localhost:5010/addMed" method="POST">
          
          <h6><b>Manufacturer<b>
                <input type="text" name="manufacturer" placeholder="Enter the manufacturer name" /></h6>
          <h6><b>Medicine</b></h6>
          <input type="text" name="medicine" placeholder="Enter the medicine name" /></h6>
          <h6><b>Date</b></h6>
          <input type="text" name="manu_date" placeholder="Enter the Date " /></h6>
          <h6><b>expiry date</b></h6>
          <input type="text" name="exp_date" placeholder="Enter the Expiry date " /></h6>
          <h6><b>Batch id </b></h6>
          <input type="text" name="batchid" placeholder="Enter the Batch id " /></h6>
          
          <button class="blue-text text-darken-2 white waves-effect waves-light btn btn waves-effect waves-light"
            type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
            onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal"
            target="_self">Close</a>

        </form>
      </div>
    </div>
    <a class="modal-trigger" href="#id01"></a>
    <div id="id01" class="modal" style="width:50%;height:60%">

      <div class="container">
        <br />

        <form action="http://localhost:5010/giveToDist" method="POST">
          <h6><b>Manufacturer's name<b>
              <input type="text" name="manufacturer" placeholder="Enter the Manufacturers name" />
          </h6>
          <h6><b>Distributor's name<b>
                <input type="text" name="distributor" placeholder="Enter the distributors name" />
          </h6>
          <h6><b>Batch id<b>
                <input type="text" name="batchid" placeholder="Enter the batch id" />
          </h6>
          <h6><b>Date<b>
                <input type="text" name="date" placeholder="Enter the Date" />
          </h6>
          <button class="blue-text text-darken-2 white waves-effect waves-light btn btn waves-effect waves-light"
            type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
            onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"
            target="_self">Close
          </a>
        </form>
      </div>
    </div> 
    <a class="modal-trigger" href="#id05"></a>
  <div id="id05" class="modal" style="width:50%;height:60%">

    <div class="container">
      <br />

    
      <form action="http://localhost:5030/track" method="POST">


        <h6><b>Batch ID<b>
              <input type="text" name = "batchid" placeholder="Enter the Batch ID" /></h6>
       
        
        <button class="blue-text text-darken-2 white waves-effect waves-light btn btn waves-effect waves-light"
          type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
          onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"
          target="_self">Close</a>

      </form>
    </div>
 
    </div>
    
  </div>
  <a class="modal-trigger" href="#id04"></a>
  <div id="id04" class="modal" style="width:50%;height:50%">
    <div class="container">
    <form action="http://localhost:5010/listMed" method="POST">
      <h6><b>Manufacturer<b>
            <input type="text" name="manufacturer" placeholder="Enter the manufacturer name" /></h6>
      <button class="blue-text text-darken-2 white waves-effect waves-light btn btn waves-effect waves-light"
        type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>

      </button>
    </form>
  </div>
</div>
  </div>
  </div>
</body>